<%- include('shared/header.ejs') %> 
<%- include('shared/nav.ejs') %> 

        <div class="cover">
            
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="person card pb-5 px-5  text-center">
                        <img src="/images/378b7d3d5beb192bd81ded2284696fae.jpg" width="250" alt="">
                    </div>
                </div>
                <div class="col-md-8 pt-4">
                    <h2><%= name %> </h2>
                    <h4 class="text-muted">Full Stack Web</h4>

                   <% for( let i = 0; i < posts.length; i++ ) { %>
                    <div class="post card p-4 auto">
                        <div class="media">
                            <img src="/images/378b7d3d5beb192bd81ded2284696fae.jpg" width="60" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0"> <%= name %> </h5>
                                <p><%= date[i] %></p>
                            </div>
                        </div>
                        <hr>
                        <h3><%= posts[i].title %> </h3>
                        <p class="pt-4"><%= posts[i].post %> </p>
                        <div >
                            <a class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" href="/EditPost/<%= posts[i]._id %>">Edit</a> 
                            <a class="btn btn-danger " href="/delete/<%= posts[i]._id %>">delete</a>
                        </div>

                    </div>

                   
                   <% } %>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center text-white">
                            <h5 class="modal-title " id="exampleModalLabel">Edit Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                       
                       
                        <div class="modal-body">
                            <% for( let i = 0; i < posts.length; i++ ) { %>
                            <form action="/EditPost/<%= posts[i]._id %>" method="post"> 
                                <input class="form-control my-3" name="title" placeholder="Enter Title" type="text"  value="<%= posts[i].title %>">
                                <textarea class="form-control" placeholder="Enter Text" name="post" id="" cols="20"
                                    rows="10"  ><%= posts[i].post %></textarea> 
                                    <% } %>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-dark text-white ">Re-Post</button>
                                    </div>
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>
            
            

            <%- include('shared/footer.ejs') %>
